.pMove{
    font-family: fantasy;
    font-size: 60px;
    width: 150px;
    height: 150px;
    margin-left: 750px;
    color: red;
}

h1{
    font-size: 80px;
    margin: 0px;
    font-family: fantasy;
    color: rgb(13, 156, 245);
}

.nomovediv{
    position: fixed;
    font-family: fantasy;
    font-size: 60px;
    width: 110px;
    color: green;
    margin-left: 250px;
}

div{
    display: inline-block;
}