.container{
    background-color: rgb(45, 45, 45);
    color: white;
}

.perfil{
    text-align: center;
    background-color: rgb(142, 1, 1);
    padding-top: 5em;
    border-bottom-right-radius: 5px;
}

.titulosH4{
    text-align: center;
    letter-spacing: 3px;
    font-weight: 100;
    margin: 1em 1em 2em 1em;
}

.conteudo{
    margin-left: 5em;
    font-size: 14px;
    height: 20px;
    width: max-content;
}

.contatos .conteudo a{
    text-decoration: none;
    color: white;
    list-style: none;
    transition: .2s;
}

.contatos:hover div{
    color: white;
    text-shadow: 0 0 7px #f4e803,
                 0 0 30px #f4e803;
}

.container:hover div {
    color: white;
}

.contatos:hover div .conteudo{
    color: white;
    text-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4;
    font-size: 15px;
}

.contatos:hover .conteudo:not(:hover){
    color: grey;
    opacity: 0.3;
    text-shadow: none;
    font-size: 14px;
}

.baseconhecimento{
    height: 2px;
    width: 100%; 
    background-color: rgb(100, 100, 100) !important; 
    box-shadow: none !important;
} 

.conhecimento .baseconhecimento div{
    height: 2px;
    background-color: #03e9f4;
    margin: 0 0 10px 0;
    display: inline-block;
}

.conhecimento h5 {
    letter-spacing: 7px;
    font-family: sans-serif;
    font-size: 1rem  !important;
    display: inline-block;
    margin-top: 24px;
    margin-bottom: 5px;
}

.nomePerfil{
    display: grid;
    align-items: end;
    height: 11em;
}

.nomePerfil h4{
    font-weight: 300;
    font-size: 2.5em;
}

.nomePerfil a {
    cursor: pointer;
    font-size: 1.1em;
    color: rgb(191, 16, 214) !important;
}

.nomePerfil a:hover{
    color: #fff !important;
}

.Resumo{
    background-color: #464646;
    border-radius: 5px;
}

.Resumo:hover{
    box-shadow: inset 0px 0px 5px 3px #f9fafb14;
}

.list-group-item{
    background-color: inherit !important;
    border:none !important;
}

.lista{
    position: relative;
    display: block;
    padding: 0.5rem 1rem;
    color: #ffffff;
    text-decoration: none;
}


/* tooltips */

.tool-tip {
    display: inline-block;
    position: relative;
}

.tool-tip .tool-tip__icon {
    background: #2f618d;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    font-style: italic;
    font-family: times new roman;
    height: 17px;
    line-height: 16px;
    text-align: center;
    width: 17px;
}

.tool-tip .tool-tip__info {
    display: none;
    background: #262626;
    border: 1px solid #27b1f0;
    border-radius: 3px;
    font-size: 0.875em;
    padding: 1em;
    position: absolute;
    left: 30px;
    top: -20px;
    width: 250px;
    z-index: 2;
}

.tool-tip .tool-tip__info:before, .tool-tip .tool-tip__info:after {
    content: "";
    position: absolute;
    left: -10px;
    top: 7px;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #27b1f0;
}

.tool-tip .tool-tip__info:after {
    left: -8px;
    border-right-color: #262626;
}

.tool-tip .tool-tip__info .info {
    display: block;
}

.tool-tip .tool-tip__info .info__title {
    color: #fa00f3;
}

.tool-tip:hover .tool-tip__info, .tool-tip:focus .tool-tip__info {
    display: inline-block;
}
  
h5:focus + .tool-tip .tool-tip__info {
    display: inline-block;
}

.modal-title,
.modal-body{
    color: rgb(41, 41, 41) !important;
}

.modal-dialog {
    max-width: 650px !important;
    text-align: justify;
}

.modal{
    background-color: #00a3ff1c;
}